# ROS 2 build artifacts
build/
install/
log/

# colcon
.colcon/

# Python
__pycache__/
*.pyc

# Editor / OS junk
.vscode/
.idea/
.DS_Store
.venv/
build/
install/
log/
**/__pycache__/
*.pyc
.vscode/
.idea/
src/control_msgs/
src/control_toolbox/
src/generate_parameter_library/
src/gz_ros2_control/
src/picknik_controllers/
src/ros2_control/
src/ros2_control_cmake/
src/ros2_controllers/
src/ros2_kortex/
src/ros2_robotiq_gripper/
src/serial/
